.container {
  display: flex;
  justify-content: left;
  margin-bottom: 5%;
  width: 100%;
}

.vacio {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  flex: 1;
  text-align: center;
  font-size: 30px;
}

.vacio img {
  opacity: 40%;
  width: 30%;
}

.productContainer {
  display: inline-block;
  flex: 1;
  margin-right: 20%;
}

.productos {
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1%;
}

.productos img {
  width: 20%;
  border-radius: 10px;
}

.contenido {
  text-align: center;
  display: inline-block;
  margin-left: 5%;
  width: 100%;
}

.contenido h2 {
  margin: 5px;
}

.contenido button {
  background-color: hsl(356, 74%, 41%);
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contenido button:hover {
  transition: 0.3s ease;
  background-color: hsl(356, 74%, 31%);
}

.pago {
  border: 1px solid black;
  border-radius: 10px;
  flex: 0 0 15%;
  height: max-content;
  padding: 5%;
  text-align: center;
  margin-right: 2%;
}

.pago p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.pago button {
  background-color: hsl(207, 76%, 64%);
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.pago button:hover {
  transition: 0.3s ease;
  background-color: hsl(207, 76%, 54%);
  border: 1px solid black;
}

.pago a {
  display: block;
  color: hsl(207, 76%, 64%);
  margin-bottom: 10px;
  cursor: pointer;
}

.pago a:hover {
  transition: 0.3s ease;
  color: hsl(207, 76%, 54%);
}
