<div class="container">
  <div *ngIf="products.length === 0" class="vacio">
    <p>Tu carrito esta vacio</p>
    <img src="../../../assets/vacio.png" alt="Carrito vacio" />
  </div>
  <div class="productContainer">
    <div *ngFor="let product of products" class="productos">
      <img src="{{ product.imagenURL }}" alt="Imagen Producto" />
      <div class="contenido">
        <h2>{{ product.nombre }}</h2>
        <p>{{ product.descripcion }}</p>
        <p>{{ product.precio }}</p>
        <button (click)="removeFromCart(product.id)">Remover</button>
      </div>
    </div>
  </div>

  <div class="pago">
    <p>Total: {{ total | currency }}</p>
    <!--<button (click)="checkout()">Checkout</button> -->
    <a (click)="checkout()">Pagar con PayPal</a>
    <a (click)="checkout()">Pagar con Stripe</a>
  </div>
</div>
