<nav class="navbar">
  <img src="../assets/logoPH.png" alt="Logo Pollos Hermanos" class="logo" />
  <ul class="listaNav">
    <li><a class="opcion" routerLink="/catalogo">Catalogo</a></li>
    <li><a class="opcion" routerLink="/pedidos">Pedidos</a></li>
    <li><a class="opcion" routerLink="">Sucursales</a></li>
    <li><a class="opcion" routerLink="">Contacto</a></li>
  </ul>
  <img src="../assets/account.svg" alt="Cuenta" class="cuenta" />
</nav>

<!-- Donde se renderizarán los componentes en función de la ruta -->
<router-outlet></router-outlet>
