<nav class="navbar">
  <img src="logoPH.png" alt="Logo Pollos Hermanos" class="logo" />
  <ul class="options">
    <li class="option"><a href="/catalogo">Catalogo</a></li>
    <li class="option"><a href="/pedido">Pedidos</a></li>
    <li class="option"><a href="">Sucursales</a></li>
    <li class="option"><a href="">Contacto</a></li>
    <li><img src="account.svg" alt="Cuenta" class="cuenta" /></li>
  </ul>
</nav>

<!-- Donde se renderizarán los componentes en función de la ruta -->
<router-outlet></router-outlet>
